<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32004">
      <setting id="OSuser" type="text" label="32002" default=""/>
      <setting id="OSpass" type="text" option = "hidden" label="32003" default=""/>
    </category>   
    <category label="32005">
      <setting id="subtitles" type="bool" label="32006" default="false"/>
      <setting type="sep"/>
      <setting id="first-language" type="select" label="32007" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese (Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-2,false)" default="English"/>
    </category>
</settings>
